﻿@using TaskManager.Models.Entities
@helper TreeView(IEnumerable<Job> data, int level = 0, bool isChild = false)
{
    if (data == null)
    {
        return;
    }
    foreach (var item in data)
    {
        if (item.ParentId.HasValue && !isChild)
        {
            continue;
        }
        <a href="#item-@item.Id" class="list-group-item" data-toggle="collapse" id="item-@item.Id-ref">
            @for (var i = 0; i < level; i++)
            {
                <span class="indent"></span>
            }
            @if (item.Children != null && item.Children.Count > 0)
            {
                <i class="fa fa-angle-right"></i>
            }
            @item.Name
        </a>
        <div class="list-group collapse" id="item-@item.Id">
            @TreeView(item.Children, level + 1, true)
        </div>
    }
}