﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-3" id="myList">
            <button class="btn btn-outline-primary mb-1 col" type="button" onclick="createNew()">Новая задача</button>
            @Helpers.TreeView(ViewBag.Data)
        </div>
        <div class="col-8 offset-md-1 mt-5">
            <form class="needs-validation" novalidate id="detail" method="post" action="/job/post">
                <div class="row">
                    <div class="col-12 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px">Наименование</span>
                        </div>
                        <input type="text" class="form-control" id="inputName" name="Name" placeholder="Новая задача" required>
                        <div class="invalid-feedback">
                            Пожалуйста, укажите наименование.
                        </div>
                        <input type="hidden" id="inputId" name="Id" value="0">
                        <input type="hidden" id="inputParentId" name="ParentId">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 80px">Статус</span>
                        </div>
                        <select class="custom-select" id="inputStatus" name="Status">
                            <option id="statusOptionCreated" value="0">Новая</option>
                            <option id="statusOptionPaused" value="5" hidden>Приостановлена</option>
                            <option id="statusOptionWorking" value="10" hidden>В работе</option>
                            <option id="statusOptionIssued" value="20" hidden>Завершена</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px">Исполнитель</span>
                        </div>
                        <input type="text" class="form-control" id="inputExecutant" name="Executant" placeholder="Имя" required>
                        <div class="invalid-feedback">
                            Пожалуйста, укажите исполнителя.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px">Дата создания</span>
                        </div>
                        <input type="datetime" class="form-control" id="inputDateCreated" name="DateCreated" value="@DateTime.Now" readonly="readonly">
                    </div>
                    <div class="col-5 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 80px">План</span>
                        </div>
                        <input type="number" class="form-control" id="inputTimePlan" name="PlannedTime" min="0" value="0" required>
                        <div class="invalid-feedback">
                            Пожалуйста, укажите планируемое время.
                        </div>
                        <input type="number" class="form-control" id="inputAllTimePlan" readonly="readonly">
                        <div class="input-group-append">
                            <span class="input-group-text">ч.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px">Дата завершения</span>
                        </div>
                        <input type="datetime" class="form-control" id="inputDateFinished" name="DateFinished" readonly="readonly">
                    </div>
                    <div class="col-5 input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 80px">Факт</span>
                        </div>
                        <input type="number" class="form-control" id="inputTimeFact" name="ActualTime" min="0">
                        <input type="number" class="form-control" id="inputAllTimeFact" readonly="readonly">
                        <div class="input-group-append">
                            <span class="input-group-text">ч.</span>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 mt-2">
                        <button class="btn btn-outline-primary offset-md-1 col-3" id="buttonAddChild" type="button" onclick="return createChild()" disabled="">Добавить подзадачу</button>
                        <button class="btn btn-outline-primary offset-md-3 col-2" id="buttonDelete" type="button" onclick="return deleteJob()" disabled="">Удалить</button>
                        <button class="btn btn-outline-primary col-2" id="buttonSave" type="submit" hidden="">Сохранить</button>
                        <button class="btn btn-outline-primary col-2" id="buttonAdd" type="submit">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="/signalr/hubs"></script>

}